body {
  background-color: rgb(215, 223, 239);
  font-family: "Lucida Console", "Courier New", Times, serif;
  line-height: 1.6;
}

h1, th {
  color: rgb(0, 134, 179);
  text-align: center;
}

h2 {
  color: rgb(1, 147, 196);
}

p, td, li {
  color: rgb(0, 153, 204);
}

a:link {
  color: rgb(4, 120, 149);
}

a:visited {
  color: rgb(3, 121, 150);
}

a:hover {
  color: rgb(215, 223, 239);
  background-color: rgb(4, 120, 149);
}

ul {
  list-style-type: square;
}

strong {
  color: rgb(2, 121, 151);
}

table {
  border-collapse: collapse;
}

hr {
  width: 80%;
  border-style: groove;
}

th, td {
  border: 2px solid rgb(0, 96, 128);
  padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.align_right {
  text-align: right;
  float: right;
  margin-left: auto;
  margin-right: auto;
}

.align_left {
  text-align: left;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.error {
  border-radius: 15px;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
  background-color: darkred;
}

.error-left-align {
  border-radius: 15px;
  max-width: 500px;
  text-align: left;
  color: red;
  background-color: darkred;
}